 .ql-toolbar {
  border:none !important;
  border-bottom: solid 1px #ddd !important ;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
}

.ql-container {
  height: full;

  
  border:none !important;
}

.ql-editor {
  min-height: 150px;
  font-size: 16px;

  
} 

  